
<h1 class="page-title">
    History
</h1>

<div class="posts_holder grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 160 }'>
    <%  let i = 0; while (i < posts.length) { %>
        <div class="grid-item">
            <a class="post-link" href="/post/<%= posts[i].id %>">
                <div class="post">
                    <img src="<%=posts[i].image_url%>" alt="">
                    <div class="text-box">
                        <h1><%=posts[i].title%></h1>
                        <a href="<%= posts[i].online_url %>">Join link</a>
                        <div class="time-string">
                            <p class="date_time"><%= posts[i].startDateTime %></p>
                            <p class="time_passed"><%= posts[i].inTime %></p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    <% i ++ } %>   
</div>