<script>
    let colomn = 1;
    var onresize = function(event) {
        //note i need to pass the event as an argument to the function
        width = event.target.outerWidth;
        if (width > 1000) {
            colomn = 5;
        } else if (width > 800) {
            colomn = 4;
        } else if (width > 600) {
            colomn = 3;
        } else {
            colomn = 2;
        }
        console.log(colomn)
    }
    window.addEventListener("resize", onresize);
</script>

<div class="posts_holder">     
    <section class="colomn col1">
        <%  let i = 0; while (i < posts.length) { %>
            <a class="post-link" href="/post/<%= posts[i].id %>">
                <div class="post">
                    <img src="<%=posts[i].image_url%>" alt="">
                    <div class="text-box">
                        <h1><%=posts[i].title%></h1>
                        <a href="<%= posts[i].online_url %>">link</a>
                        <p class="time_passed"><%= posts[i].timePassed %></p>
                    </div>
                </div>
            </a>
        <% i += 4 } %>   
    </section>
    <section class="colomn col2">
        <% i = 1; while (i < posts.length) { %>
            <a class="post-link" href="/post/<%= posts[i].id %>">
                <div class="post">
                    <img src="<%=posts[i].image_url%>" alt="">
                    <div class="text-box">
                        <h1><%=posts[i].title%></h1>
                        <a href="<%= posts[i].online_url %>">link</a>
                        <p class="time_passed"><%= posts[i].timePassed %></p>
                    </div>
                </div>
            </a>
        <% i += 4 } %> 
    </section>
    <section class="colomn col3">
        <% i = 2; while (i < posts.length) { %>
            <a class="post-link" href="/post/<%= posts[i].id %>">
                <div class="post">
                    <img src="<%=posts[i].image_url%>" alt="">
                    <div class="text-box">
                        <h1><%=posts[i].title%></h1>
                        <a href="<%= posts[i].online_url %>">link</a>
                        <p class="time_passed"><%= posts[i].timePassed %></p>
                    </div>
                </div>
            </a>
        <% i += 4 } %> 
    </section>
    <section class="colomn col4">
        <% i = 3; while (i < posts.length) { %>
            <a class="post-link" href="/post/<%= posts[i].id %>">
                <div class="post">
                    <img src="<%=posts[i].image_url%>" alt="">
                    <div class="text-box">
                        <h1><%=posts[i].title%></h1>
                        <a href="<%= posts[i].online_url %>">link</a>
                        <p class="time_passed"><%= posts[i].timePassed %></p>
                    </div>
                </div>
            </a>
        <% i += 4 } %> 
    </section>
</div>